GLOBUS_CLIENT_ID=''
GLOBUS_CLIENT_SECRET=''
GLOBUS_REDIRECT_URI=https://af.uchicago.edu/auth/callback

# 32+ char random string: openssl rand -hex 32
SESSION_SECRET = ''

CONNECT_API_TOKEN = ''
CONNECT_API_ENDPOINT = 'https://api.ci-connect.net:18080'

MAILGUN_API_TOKEN = 'key-'
NAMESPACE = 'af-jupyter'
DOMAIN_NAME = 'af.uchicago.edu'

# Leave blank for in-cluster, set to a path for local dev
KUBECONFIG = 'secrets/kubeconfig'

