# Folder for secrets
secrets/

# Mac OS files
*.DS_Store

# Folder for SSL key and certificate
ssl/

# SSL key and certificate
*.pem

# Python virtual environment
venv/

# Python bytecode
__pycache__/

# Log files
*.log

# Python file for running the webapp locally
run_local.py