Flask==3.0.3
Flask-QRcode==3.2.0
Flask-WTF==1.2.2
globus-sdk==3.46.0
gunicorn
jinja2_markdown==0.0.3
kiwisolver==1.4.7
kubernetes==31.0.0
matplotlib
numpy
oauthlib==3.2.2
packaging==24.1
pandas
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
PyJWT==2.9.0
PyYAML==6.0.1
requests
urllib3
