blinker==1.8.2
cachetools==5.4.0
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.2.1
cryptography==43.0.0
cycler==0.12.1
Flask==2.0.3
Flask-QRcode==3.2.0
Flask-WTF==1.2.1
fonttools==4.53.1
globus-sdk==1.7.1
google-auth==2.32.0
idna==3.7
importlib_metadata==8.2.0
importlib_resources==6.4.0
itsdangerous==2.2.0
Jinja2==3.1.4
jinja2_markdown==0.0.3
kiwisolver==1.4.5
kubernetes==30.1.0
Markdown==3.6
MarkupSafe==2.1.5
matplotlib
numpy
oauthlib==3.2.2
packaging==24.1
pandas
pillow==10.4.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
PyJWT==1.7.1
pyparsing==3.1.2
pypng==0.20220715.0
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
qrcode==7.4.2
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
six==1.16.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
websocket-client==1.8.0
Werkzeug==2.0.3
WTForms==3.1.2
zipp==3.19.2 
gunicorn