{%extends "base.html"%}

{%block title%}About{%endblock%}

{%block body%}
<section id="about-section">
  <div class="container col-lg-12">
    {%include 'messages.html'%}
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <p class="leadl" id="about_content"></p>
      </div>
    </div>
  </div>
</section>
{%include 'footer.html'%}

<script type="text/javascript">
$(document).ready(function() {
  var md = new Remarkable('full');
  var about_md = {{about|tojson}};
  var about_rendered = md.render(about_md);
  $('#about_content').html(about_rendered);
});
</script>
{%endblock%}
