<!DOCTYPE html>

<html lang="en">

<head>
  <title>Analysis Facility - {% block title %}{% endblock %}</title>
  <meta charset="UTF-8">
  <meta name="description" content="ATLAS Analysis Facility at UChicago">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/vnd.microsoft.icon" href="{{ url_for('static', filename='img/atlas-favicon.ico') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fontawesome.all.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Open+Sans">
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.validate.min.js') }}"></script>
  {% block assets %} {% endblock %}
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home') }}">
          <img src="{{url_for('static', filename='img/atlas-af-logo.png')}}" height="35" alt="" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            {% if session.get("is_authenticated") %}
            {% if session.get("role") == "admin" %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Admin
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="{{ url_for('user_info') }}" onclick="loader(true)">Users</a></li>
                <li><a class="dropdown-item" href="{{ url_for('groups', group_name='root.atlas-af') }}"
                    onclick="loader(true)">Groups</a></li>
                <li><a class="dropdown-item" href="{{ url_for('notebooks_admin') }}"
                    onclick="loader(true)">Notebooks</a></li>
              </ul>
            </li>
            {% endif %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Monitoring
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="{{ url_for('notebooks_user') }}" onclick="loader(true)">Notebooks</a>
                </li>
                <li><a class="dropdown-item" href="{{ url_for('login_nodes') }}" onclick="loader(true)">Login Nodes</a>
                </li>
                <li><a class="dropdown-item" href="{{ url_for('htcondor_usage') }}">HTCondor Usage</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Services
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="{{ url_for('open_jupyterlab') }}">JupyterLab</a></li>
                <li><a class="dropdown-item" href="https://coffea.af.uchicago.edu/" target="_blank">Coffea Casa</a></li>
                <li><a class="dropdown-item" href="https://servicex.af.uchicago.edu" target="_blank">ServiceX</a></li>
                <li><a class="dropdown-item" href="https://uproot-atlas.servicex.af.uchicago.edu"
                    target="_blank">ServiceX Uproot - deprecated</a></li>
                <li><a class="dropdown-item" href="https://xaod.servicex.af.uchicago.edu" target="_blank">ServiceX xAOD
                    - deprecated</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Documentation
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="https://maniaclab.uchicago.edu/af-docs/" target="_blank">UChicago
                    Docs</a></li>
                <li><a class="dropdown-item" href="https://usatlas.readthedocs.io/projects/af-docs/en/latest/"
                    target="_blank">US ATLAS Docs</a></li>
                <li><a class="dropdown-item" href="{{ url_for('aup') }}">Acceptable Use Policy</a></li>
                <li><a class="dropdown-item" href="{{ url_for('hardware') }}">Hardware</a></li>
                <li><a class="dropdown-item" href="{{ url_for('about') }}">About Page</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Support
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="https://atlas-talk.sdcc.bnl.gov/" target="_blank">Discourse
                    Forums</a></li>
                <li><a class="dropdown-item" href="mailto:atlas-us-chicago-tier3-admins@cern.ch" target="_blank">System
                    or Login Problems</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Account
              </a>
              <ul class="dropdown-menu dropdown-menu-end" style="min-width: 100px;">
                <li><a class="dropdown-item" href="{{ url_for('profile') }}">Profile</a></li>
                <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
              </ul>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('about') }}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('login') }}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('signup') }}">Signup</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div id="loader" class="center"></div>
  <div id="messages">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </div>
  {% block body %} {% endblock %}
  <footer class="text-center">
    <a href="https://www.uchicago.edu" target="_blank"><img src="{{url_for('static', filename='img/uc-logo.png')}}"></a>
    <a href="https://efi.uchicago.edu" target="_blank"><img
        src="{{url_for('static', filename='img/efi-logo.png')}}"></a>
    <a href="https://iris-hep.org" target="_blank"><img
        src="{{url_for('static', filename='img/iris-hep-logo.png')}}"></a>
  </footer>
</body>
<script type="text/javascript">
  /* Show the spinning loader icon */
  function loader(show) {
    $("#loader").css("display", show ? "inline" : "none");
  }

  /* Show a flash message */
  function flash(message, category) {
    $("#messages").html("<div class='alert alert-" + category + " alert-dismissible'>" + message + "<button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button></div>");
  }

  /* Disable error alerts in DataTables */
  $.fn.dataTable.ext.errMode = "none";

  /* Set the CSRF token for Ajax requests */
  var csrf_token = "{{ csrf_token() }}";
  $.ajaxSetup({
    beforeSend: function (xhr, settings) {
      if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader("X-CSRFToken", csrf_token);
      }
    }
  });
</script>

</html>