{% extends "base.html" %}

{% block title %} Chat {% endblock %}

{% block body %}
<section id="hardware">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-decoration-none" href="{{ url_for('home') }}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Chat</li>
            </ol>
        </nav>
        {% if unix_name is not none %}
            <iframe id="chat" title="AF ChatGPT" width="95%" height=900 allow="clipboard-read; clipboard-write" src="https://chatbot.af.atlas-ml.org/?user={{ unix_name }}"></iframe>
        {% else %}
            <p> Only accounts with a valid identity can use ChatGPT integration </p>
        {% endif %}
    </div>
</section>
{% endblock %}
