{% extends "base.html" %}

{% block title %} Create subgroup {% endblock %}

{% block content %}
<section>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-decoration-none" href="{{ url_for('home') }}">Home</a></li>
                <li class="breadcrumb-item"><a onclick="loader()" class="text-decoration-none" href="{{ url_for('groups', group_name='root.atlas-af') }}">Groups</a></li>
                <li class="breadcrumb-item"><a onclick="loader()" class="text-decoration-none" href="{{ url_for('groups', group_name=group['name']) }}">{{ group['name'] }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">Create subgroup</li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h4 class="mt-3">Create subgroup</h4>
                <div class="text-success"><hr/></div>
                <form action="{{ url_for('create_subgroup', group_name=group['name']) }}" method="POST">
                    <div class="mb-3">
                        <label for="name" class="form-label">Short name:</label>
                        <input type="text" class="form-control" name="short-name" required>
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Display name:</label>
                        <input type="text" class="form-control" name="display-name" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Contact email:</label>
                        <input type="text" class="form-control" name="email" value="{{ group['email'] }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">Contact phone number:</label>
                        <input type="text" class="form-control" name="phone" value="{{ group['phone'] }}" required>
                    </div>
                    <div class="mb-4">
                        <label for="description" class="form-label">Description:</label>
                        <input type="text" class="form-control" name="description" required>
                    </div>
                    <div class="mb-3">
                        <button onclick="loader()" class="btn btn-primary" type="submit">Submit</button>
                        <a onclick="loader()" href="{{ url_for('groups', group_name=group['name']) }}" class="btn btn-danger" role="button">Cancel</a>
                    </div>
                    <input type="hidden" name="purpose" value="High Energy Physics">
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}