{%extends "base.html"%}

{%block title%}
  ElasticSearch visualizations
{%endblock%}

{%block body%}
<section>
      <div class="container col-lg-12">
        {%include 'messages.html' %}
        <ol class="breadcrumb">
          <li class="breadcrumb-item">ElasticSearch visualizations</li>
        </ol>
        <iframe src="https://atlas-kibana.mwt2.org:5601/s/analysis-facility/app/dashboards#/view/e0381d10-e4a6-11eb-9d53-3b3d1d47c519?embed=true&_g=(filters%3A!()%2CrefreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-15m%2Cto%3Anow))" height="600" width="800"></iframe>
      </div>
</section>
{%endblock%}