<!-- Footer -->
<footer>
  <div class="img-container" id="footer-container"> <!-- Block parent element -->
      <a href="http://ci-connect.net/" target="_blank"><img src="{{url_for('static', filename='img/footer/powered-by-ciconnect.png')}}" class="powered-by-large" alt="CI Connect" id="footer-img"></a>
      <div id="af-footer-images" style="display: none">
        <a href="https://www.uchicago.edu" target="_blank">
          <img src="{{url_for('static', filename='img/footer/uc-logo.png')}}" class="powered-by-large">
        </a>
        <a href="https://efi.uchicago.edu" target="_blank">
          <img src="{{url_for('static', filename='img/footer/efi-logo.png')}}" class="powered-by-large">
        </a>
        <a href="https://iris-hep.org" target="_blank">
          <img src="{{url_for('static', filename='img/footer/iris-hep-logo.png')}}" class="powered-by-large">
        </a>
    </div>
  </div>
  <br></br>
</footer>
