{% if 'af.uchicago.edu' in request.host or 'www-test.ci-connect.net' in request.host %}
<footer>
  <div class="img-container"> 
      <div id="af-footer-images">
        <a href="https://www.uchicago.edu" target="_blank">
          <img src="{{url_for('static', filename='img/footer/uc-logo.png')}}" class="powered-by-large">
        </a>
        <a href="https://efi.uchicago.edu" target="_blank">
          <img src="{{url_for('static', filename='img/footer/efi-logo.png')}}" class="powered-by-large">
        </a>
        <a href="https://iris-hep.org" target="_blank">
          <img src="{{url_for('static', filename='img/footer/iris-hep-logo.png')}}" class="powered-by-large">
        </a>
      </div>
  </div>
  <br></br>
</footer>
{% elif 'ci-connect.net' in request.host %}
<footer>
  <div class="img-container"> 
      <a href="http://ci-connect.net/" target="_blank">
        <img src="{{url_for('static', filename='img/footer/powered-by-ciconnect.png')}}" class="powered-by-large" alt="CI Connect" id="footer-img">
      </a>
  </div>
  <br></br>
</footer>
{% else %}
<footer>
  <div class="img-container"> 
      <a href="http://ci-connect.net/" target="_blank">
        <img src="{{url_for('static', filename='img/footer/powered-by-ciconnect.png')}}" class="powered-by-large" alt="CI Connect" id="footer-img">
      </a>
  </div>
  <br></br>
</footer>
{% endif %}