{% extends "base.html" %}

{% block title %} Groups {% endblock %}

{% block libraries %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}" />
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
{% endblock %}

{% block content %}
<section id="groups">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-decoration-none" href="{{ url_for('home') }}">Home</a></li>
                <li class="breadcrumb-item"><a onclick="loader()" class="text-decoration-none" href="{{ url_for('groups', group_name='root.atlas-af') }}">Groups</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ group["name"] }}</li>
            </ol>
        </nav>
        <ul class="nav nav-tabs my-4" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview" type="button" role="tab" aria-controls="overview" aria-selected="true">
                    <i class="fa-solid fa-cubes"></i>&nbsp;Overview
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="members-tab" data-bs-toggle="tab" data-bs-target="#members" type="button" role="tab" aria-controls="members" aria-selected="true">
                    <i class="fa-solid fa-user-group"></i>&nbsp;Members
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link position-relative" id="member_requests-tab" data-bs-toggle="tab" data-bs-target="#member_requests" type="button" role="tab" aria-controls="member_requests" aria-selected="true">
                    <i class="fa-solid fa-user-group"></i>&nbsp;Member Requests&nbsp;
                    <span class="badge rounded-pill bg-warning">
                        <span id="number-of-member-requests">0</span>
                        <span class="visually-hidden">member requests</span>
                    </span>
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="subgroups-tab" data-bs-toggle="tab" data-bs-target="#subgroups" type="button" role="tab" aria-controls="subgroups" aria-selected="true">
                    <i class="fa-solid fa-diagram-project"></i>&nbsp;Subgroups
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link position-relative" id="subgroup_requests-tab" data-bs-toggle="tab" data-bs-target="#subgroup_requests" type="button" role="tab" aria-controls="sugroup_requests" aria-selected="true">
                    <i class="fa-solid fa-diagram-project"></i>&nbsp;Subgroup Requests&nbsp;
                    <span class="badge rounded-pill bg-warning">
                        <span id="number-of-subgroup-requests">0</span>
                        <span class="visually-hidden">subgroup requests</span>
                    </span>
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="add_members-tab" data-bs-toggle="tab" data-bs-target="#add_members" type="button" role="tab" aria-controls="add_members" aria-selected="true">
                    <i class="fa-solid fa-user-plus"></i>&nbsp;Add Members
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="email-tab" data-bs-toggle="tab" data-bs-target="#email" type="button" role="tab" aria-controls="email" aria-selected="true">
                    <i class="fa-solid fa-envelope"></i>&nbsp;Email
                </button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                <div class="card h-100 col-sm-6">
                    <div class="card-header">
                        {{ group["display_name"] }}
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li><span class="text-muted">Unix name:</span> {{ group["name"] }}</li>
                            <li><span class="text-muted">Description:</span> {{ group["description"] }}</li>
                            <li><span class="text-muted">Purpose:</span> {{ group["purpose"] }}</li>
                            <li><span class="text-muted">Contact email:</span> 
                                <a class="text-decoration-none" href="{{ group['email'] }}" target="_blank">{{ group["email"] }}</a>
                            </li>
                            <li><span class="text-muted">Phone number:</span> {{ group["phone"] }}</li>
                            <li><span class="text-muted">Created on:</span> {{ group["creation_date"] }}</li>
                        </ul>
                    </div>
                    <div class="card-footer bg-transparent border-top-0">
                        <a href="{{ url_for('edit_group', group_name=group['name']) }}" class="btn btn-sm btn-primary" href="#" role="button">Edit group</a>
                        <a href="{{ url_for('create_subgroup', group_name=group['name']) }}" class="btn btn-sm btn-primary" href="#" role="button">Create subgroup</a>
                        {% if group['is_deletable'] %}
                        <a onclick="loader()" href="{{ url_for('delete_group', group_name=group['name']) }}" class="btn btn-sm btn-danger" href="#" role="button">Delete group</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="members" role="tabpanel" aria-labelledby="members-tab">
                <table id="members-table" class="table nowrap w-100 fs14">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Institution</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="tab-pane fade" id="member_requests" role="tabpanel" aria-labelledby="member_requests-tab">
                <table id="member-requests-table" class="table nowrap w-100 fs14">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Institution</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="tab-pane fade" id="subgroups" role="tabpanel" aria-labelledby="subgroups-tab">
                <table id="subgroups-table" class="table nowrap w-100 fs14">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Contact email</th>
                            <th>Phone</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="tab-pane fade" id="subgroup_requests" role="tabpanel" aria-labelledby="subgroup_requests-tab">
                <table id="subgroup-requests-table" class="table nowrap w-100 fs14">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Unix name</th>
                            <th>Contact email</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="tab-pane fade" id="add_members" role="tabpanel" aria-labelledby="add_members-tab">
                <table id="potential-members-table" class="table nowrap w-100 fs14">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Institution</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="tab-pane fade col-lg-8 mx-auto" id="email" role="tabpanel" aria-labelledby="email-tab">
                <form id="email">
                    <div class="mb-3">
                        <h5>Send an email to the {{ group["display_name"] }} users</h5> 
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
                        <label for="subject">Subject</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" placeholder="Body" name="body" id="body" style="height: 300px;"></textarea>
                        <label for="body">Body</label>
                    </div>
                    <div class="form-floating mb-3">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
$(document).ready(function() {
    const membersTable = $("#members-table").DataTable({
        processing: true,
        lengthMenu: [10, 25, 50, 100, 1000],
        ajax: {url: "{{ url_for('get_group_members', group_name=group['name']) }}", dataSrc: "members"},
        columns: [
            { data: "username" },
            { data: "name" },
            { data: "email" },
            { data: "phone" },
            { data: "institution" },
            { data: "role" },
            { data: null, orderable: false }
        ], 
        columnDefs: [
            {
                targets: 5,
                render: function(data, type, row) {
                    if (data == "admin") 
                        return "<span class='text-primary'>" + data + "</span>";
                    if (data == "active") 
                        return "<span class='text-success'>" + data + "</span>";
                    return data;
                }
            },
            {
                targets: 6,
                render: function(data, type, row) {
                    html = "<a class='remove-member text-decoration-none badge bg-danger' role='button'>";
                    html += "<i class='fa-solid fa-circle-xmark'></i>&nbsp; Remove";
                    html += "</a>";
                    return html;
                }
            }
        ],
        order: [5, "desc"]
    });
    const memberRequestsTable = $("#member-requests-table").DataTable({
        processing: true,
        lengthMenu: [10, 25, 50, 100],
        ajax: {url: "{{ url_for('get_group_member_requests', group_name=group['name']) }}", dataSrc: "member_requests"},
        columns: [
            { data: "username" },
            { data: "name" },
            { data: "email" },
            { data: "phone" },
            { data: "institution" },
            { data: "role" },
            { data: null, orderable: false }
        ],
        columnDefs: [
            {
                targets: 5,
                render: function(data, type, row) {
                    return "<span class='text-warning'>" + data + "</span>";
                }
            },
            {
                targets: 6,
                render: function(data, type, row) {
                    html = "<a class='approve-member-request text-decoration-none badge bg-success' role='button'>";
                    html += "<i class='fa-regular fa-circle-check'></i>&nbsp;Approve";
                    html += "</a>";
                    html += "&nbsp;"
                    html += "<a class='deny-member-request text-decoration-none badge bg-danger' role='button'>";
                    html += "<i class='fa-regular fa-circle-xmark'></i>&nbsp;Deny";
                    html += "</a>";
                    return html;
                }
            }
        ],
        "fnInitComplete": function(oSettings, json) {
            const count = json.member_requests.length;
            $("#number-of-member-requests").html(count);
        }
    });
   const subgroupsTable = $("#subgroups-table").DataTable({
        processing: true,
        lengthMenu: [10, 25, 50, 100],
        ajax: {url: "{{ url_for('get_group_subgroups', group_name=group['name']) }}", dataSrc: "subgroups"},
        columns: [
            { data: "name" },
            { data: "email" },
            { data: "phone" },
            { data: "description" }
        ], columnDefs: [
            { 
                targets: 0,
                render: function(data, type, row) {
                    return "<a href='{{request.url_root}}/groups/" + data + "' class='text-decoration-none'>" + data + "</a>"
                }
            }
        ]
    });
    const subgroupRequestsTable = $("#subgroup-requests-table").DataTable({
        processing: true,
        lengthMenu: [10, 25, 50, 100],
        ajax: {url: "{{ url_for('get_group_subgroup_requests', group_name=group['name']) }}", dataSrc: "subgroup_requests"},
        columns: [
            { data: "display_name" },
            { data: "name" },
            { data: "email" },
            { data: "description" }
        ],
        "fnInitComplete": function(oSettings, json) {
            const count = json.subgroup_requests.length;
            $("#number-of-subgroup-requests").html(count);
        }
    });
    const potentialMembersTable = $("#potential-members-table").DataTable({
        processing: true,
        lengthMenu: [10, 25, 50, 100, 1000],
        ajax: {url: "{{ url_for('get_group_potential_members', group_name=group['name']) }}", dataSrc: "potential_members"},
        columns: [
            { data: "username" },
            { data: "name" },
            { data: "email" },
            { data: "phone" },
            { data: "institution" },
            { data: "role" },
            { data: null, orderable: false }
        ],
        columnDefs: [
            {
                targets: 5,
                render: function(data, type, row) {
                    if (data == "pending") 
                        return "<span class='text-warning'>" + data + "</span>";
                    return data;
                }
            },
            {
                targets: 6,
                render: function(data, type, row) {
                    html = "<a class='add-member text-decoration-none badge bg-primary' role='button'>";
                    html += "<i class='fa-solid fa-circle-plus'></i>&nbsp; Add";
                    html += "</a>";
                    return html;
                }
            }
        ],
        order: [5, "desc"]
    });
    membersTable.on("click", "a.remove-member", function() {
        const row = membersTable.row($(this).parents("tr"));
        const username = row.data().username;
        const url = "{{ request.url_host }}/groups/{{ group['name'] }}/remove_group_member/" + username;
        $.get(url, function(resp) {
            if (resp["success"]) {
                row.remove().draw();
                potentialMembersTable.ajax.reload();
                message("Removed " + username + " from group {{ group['name'] }} ", "success");
            }
        });
    });
    memberRequestsTable.on("click", "a.approve-member-request", function() {
        const row = memberRequestsTable.row($(this).parents("tr"));
        const username = row.data().username;
        const url = "{{ request.url_host }}/groups/{{ group['name'] }}/approve_membership_request/" + username;
        $.get(url, function(resp) {
            if (resp["success"]) {
                row.remove().draw();
                membersTable.ajax.reload();
                message("Approved request from " + username + " to join group {{ group['name'] }} ", "success");
                const count = memberRequestsTable.rows().data().length;
                $("#number-of-member-requests").html(count);
            }
        });
    });
    memberRequestsTable.on("click", "a.deny-member-request", function() {
        const row = memberRequestsTable.row($(this).parents("tr"));
        const username = row.data().username;
        const url = "{{ request.url_host }}/groups/{{ group['name'] }}/deny_membership_request/" + username;
        $.get(url, function(resp) {
            if (resp["success"]) {
                row.remove().draw();
                potentialMembersTable.ajax.reload();
                message("Denied request from " + username + " to join group {{ group['name'] }} ", "success");
                const count = memberRequestsTable.rows().data().length;
                $("#number-of-member-requests").html(count);
            }
        });
    });
    potentialMembersTable.on("click", "a.add-member", function() {
        const row = potentialMembersTable.row($(this).parents("tr"));
        const username = row.data().username;
        const url = "{{ request.url_host }}/groups/{{ group['name'] }}/add_group_member/" + username;
        $.get(url, function(resp) {
            if (resp["success"]) {
                row.remove().draw();
                membersTable.ajax.reload();
                message("Added " + username + " to group {{ group['name'] }} ", "success");
            }
        });
    });
    $("form#email").submit(function(event) {
        event.preventDefault();
        var formValues = $(this).serialize();
        $.post("{{ url_for('send_email', group_name=group['name']) }}", formValues, function(resp) {
            if (resp) {
                message(resp["message"], resp["category"]);
            }
        });
    });
});
</script>
{% endblock %}