{% extends "base.html" %}

{% block title %} Groups {% endblock %}

{% block libraries %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}" />
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
{% endblock %}

{% block content %}
<section id="groups">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-decoration-none" href="{{ url_for('home') }}">Home</a></li>
                <li class="breadcrumb-item"><a class="text-decoration-none" href="{{ url_for('groups', groupname='root.atlas-af') }}">Groups</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ group["name"] }}</li>
            </ol>
        </nav>
        <ul class="nav nav-tabs my-4" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview" type="button" role="tab" aria-controls="overview" aria-selected="true">
                    <i class="fa-solid fa-cubes"></i>&nbsp;Overview
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="members-tab" data-bs-toggle="tab" data-bs-target="#members" type="button" role="tab" aria-controls="members" aria-selected="true">
                    <i class="fa-solid fa-user-group"></i>&nbsp;Members
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link position-relative" id="member_requests-tab" data-bs-toggle="tab" data-bs-target="#member_requests" type="button" role="tab" aria-controls="member_requests" aria-selected="true">
                    <i class="fa-solid fa-user-group"></i>&nbsp;Members&nbsp;
                    <span class="badge rounded-pill bg-warning">
                        {{ group["member_requests"]|length }}
                        <span class="visually-hidden">member requests</span>
                    </span>
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="subgroups-tab" data-bs-toggle="tab" data-bs-target="#subgroups" type="button" role="tab" aria-controls="subgroups" aria-selected="true">
                    <i class="fa-solid fa-diagram-project"></i>&nbsp;Subgroups
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link position-relative" id="subgroup_requests-tab" data-bs-toggle="tab" data-bs-target="#subgroup_requests" type="button" role="tab" aria-controls="sugroup_requests" aria-selected="true">
                    <i class="fa-solid fa-diagram-project"></i>&nbsp;Subgroups&nbsp;
                    <span class="badge rounded-pill bg-warning">
                        {{ group["subgroup_requests"]|length }}
                        <span class="visually-hidden">subgroup requests</span>
                    </span>
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="add_members-tab" data-bs-toggle="tab" data-bs-target="#add_members" type="button" role="tab" aria-controls="add_members" aria-selected="true">
                    <i class="fa-solid fa-user-plus"></i>&nbsp;Add Members
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="email-tab" data-bs-toggle="tab" data-bs-target="#email" type="button" role="tab" aria-controls="email" aria-selected="true">
                    <i class="fa-solid fa-envelope"></i>&nbsp;Email
                </button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                <div class="card h-100 col-sm-6">
                    <div class="card-header">
                        {{ group["info"]["display_name"] }}
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li><span class="text-muted">Unix name:</span> {{ group["info"]["name"] }}</li>
                            <li><span class="text-muted">Description:</span> {{ group["info"]["description"] }}</li>
                            <li><span class="text-muted">Purpose:</span> {{ group["info"]["purpose"] }}</li>
                            <li>
                                <span class="text-muted">Contact email:</span> 
                                <a class="text-decoration-none" href="{{ group['email'] }}" target="_blank">{{ group["info"]["email"] }}</a>
                            </li>
                            <li><span class="text-muted">Phone number:</span> {{ group["info"]["phone"] }}</li>
                            <li><span class="text-muted">Created on:</span> {{ group["info"]["creation_date"] }}</li>
                        </ul>
                    </div>
                    <div class="card-footer bg-transparent border-top-0">
                        <a class="btn btn-sm btn-primary" href="#" role="button">Edit group</a>
                        <a class="btn btn-sm btn-primary" href="#" role="button">Create subgroup</a>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade fs12" id="members" role="tabpanel" aria-labelledby="members-tab">
                <table class="table table-striped nowrap w-100">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Institution</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for member in group["members"] %}
                        <tr>
                            <td>{{ member["username"] }}</td>
                            <td>{{ member["name"] }}</td>
                            <td>{{ member["email"] }}</td>
                            <td>{{ member["phone"] }}</td>
                            <td>{{ member["institution"] }}</td>
                            <td><span class="text-primary">{{ member["status"] }}</span></td>
                            <td>
                                <a class="text-danger" role="button">
                                    <i class="fa-regular fa-circle-xmark"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade fs12" id="member_requests" role="tabpanel" aria-labelledby="member_requests-tab">
                <table class="table table-striped nowrap w-100">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Institution</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for member in group["member_requests"] %}
                        <tr>
                            <td>{{ member["username"] }}</td>
                            <td>{{ member["name"] }}</td>
                            <td>{{ member["email"] }}</td>
                            <td>{{ member["phone"] }}</td>
                            <td>{{ member["institution"] }}</td>
                            <td><span class="text-warning font-weight-bold">{{ member["status"] }}</span></td>
                            <td>
                                <a class="text-danger" role="button">
                                    <i class="fa-regular fa-circle-xmark"></i>
                                </a>
                                <a class="text-success" role="button">
                                    <i class="fa-regular fa-circle-check"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade fs12" id="subgroups" role="tabpanel" aria-labelledby="subgroups-tab">
                <table class="table table-striped nowrap w-100">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Unix name</th>
                            <th>Contact email</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for subgroup in group["subgroups"] %}
                        <tr>
                            <td>
                                <a class="text-decoration-none" href="{{ url_for('groups', groupname=subgroup['name']) }}">
                                    {{ subgroup["display_name"] }}
                                </a>
                            </td>
                            <td>{{ subgroup["name"] }}</td>
                            <td>{{ subgroup["email"] }}</td>
                            <td>{{ subgroup["description"] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade fs12" id="subgroup_requests" role="tabpanel" aria-labelledby="subgroup_requests-tab">
                <table class="table table-striped nowrap w-100">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Unix name</th>
                            <th>Contact email</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for subgroup in group["subgroup_requests"] %}
                        <tr>
                            <td>
                                <a class="text-decoration-none" href="{{ url_for('groups', groupname=subgroup['name']) }}">
                                    {{ subgroup["display_name"] }}
                                </a>
                            </td>
                            <td>{{ subgroup["name"] }}</td>
                            <td>{{ subgroup["email"] }}</td>
                            <td>{{ subgroup["description"] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="add_members" role="tabpanel" aria-labelledby="add_members-tab">...</div>
            <div class="tab-pane fade" id="email" role="tabpanel" aria-labelledby="email-tab">...</div>
        </div>
    </div>
</section>
<script type="text/javascript">
$(document).ready(function() {
    $('table').DataTable();
});
</script>
{% endblock %}