{%extends "group_profile_template.html"%}

{%block title%}
  {{group['display_name']}} - Members Pending
{%endblock%}

{%block content%}
<div class="table-responsive">
  <!-- <h4>Members in Group</h4> -->
  <table class="table" id="members-requests-table" data-toggle="table" data-sort-name="name" data-sort-order="desc">
    <thead>
      <tr>
        <th data-field="name" data-sortable="true">Name</th>
        <th data-field="email" data-sortable="true">Email</th>
        <th data-field="phone" data-sortable="true">Phone</th>
        <th data-field="institution" data-sortable="true">Institution</th>
        <th data-field="status" data-sortable="true">Status</th>
        {% if (user_status == 'admin' or connect_status == 'admin' or enclosing_status == 'admin') %}
        <th data-field="action" data-sortable="true">Action</th>
        {% endif %}
      </tr>
    </thead>
    <tbody data-link="row" class="rowlink" style="font-size:14px;">
      {% for member, info in group_members.items() %}
      <tr>
        <td>{{info['metadata']['name']}}</td>
        {% if (user_status == 'admin' or connect_status == 'admin' or enclosing_status == 'admin') %}
        <td>{{info['metadata']['email']}}</td>
        <td>{{info['metadata']['phone']}}</td>
        {% else %}
        <td>Admin View Only</td>
        <td>Admin View Only</td>
        {% endif %}
        <td>{{info['metadata']['institution']}}</td>
        {% for group_membership in info['metadata']['group_memberships'] %}
          {% if group_membership['name'] == group_name %}
            {% if group_membership['state'] == 'pending' %}
        <td><strong style='color: orange;'>{{group_membership['state']}}</strong></td>
            {% elif group_membership['state'] == 'admin' %}
        <td><strong style='color: blue;'>{{group_membership['state']}}</strong></td>
            {% else %}
        <td><strong style='color: green;'>{{group_membership['state']}}</strong></td>
            {% endif %}
          {% endif %}
        {% endfor %}
        {% if (user_status == 'admin' or connect_status == 'admin' or enclosing_status == 'admin') %}
        <td>
          <div class="btn-group">
            {% if users_statuses[info['metadata']['unix_name']] == 'pending' %}
            <form role="form" action="{{url_for('add_group_member', group_name=group_name, unix_name=info['metadata']['unix_name'])}}" method="POST" onsubmit="return confirm('Are you sure you want to confirm this member?');">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              <button type="submit" name="add_group_member" class="btn btn-xs btn-success" data-submit="Adding Member..."><i class="fas fa-check-circle"></i> Accept</button>
            </form>
            {% endif %}
            <button type="button" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#{{info['metadata']['unix_name']}}"><i class="fas fa-times-circle"></i> Deny</button>
            <div class="modal fade" id="{{info['metadata']['unix_name']}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Confirm denying user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">

                    <form role="form" action="{{url_for('remove_group_member', group_name=group_name, unix_name=info['metadata']['unix_name'])}}" method="POST">
                      <div class="form-group">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                      </div>
                      <div class="form-group">
                        <label for="description">Reason for denial <span id="asterik">*</span></label>
                        <textarea
                          placeholder="Brief reason for denying user"
                          name="denial-message"
                          required
                          tabindex="1"
                          style="background-color:white; color:black; border-radius:4px; border-color:lightgrey;"
                          value=""
                          ></textarea>
                      </div>
                      <div class="modal-footer">
                        <div class="form-group">
                          <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                          <button type="submit" name="remove_group_member" class="btn btn-sm btn-primary" data-submit="Removing Member..."> Confirm</button>
                        </div>
                      </div>
                    </form>

                  </div>
                </div>
              </div>
            </div>

            {% if users_statuses[info['metadata']['unix_name']] != 'admin' %}
            <form role="form" action="{{url_for('admin_group_member', group_name=group_name, unix_name=info['metadata']['unix_name'])}}" method="POST" onsubmit="return confirm('Are you sure you want to make this member an admin?');">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              <button type="submit" name="admin_group_member" class="btn btn-xs btn-warning" data-submit="Making Member Admin..."><i class="fas fa-user-shield"></i> Make Admin</button>
            </form>
            {% endif %}
          </div>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>

  </table>
</div>

<script>
$(document).ready(function() {
    $('#members-requests-table').DataTable({
      order: [[0, 'asc']]
    });
});
</script>
{%endblock%}
