{%extends "group_profile_template.html"%}

{%block title%}
  {{group['display_name']}} - Subgroups
{%endblock%}

{%block content%}
<div class="table-responsive">
  <table class="table" id="groups-table" data-toggle="table" data-sort-name="name" data-sort-order="desc">
    <thead>
      <tr>
        <th data-field="name" data-sortable="true">Name</th>
        <th data-field="unix-name" data-sortable="true">Group Unix Name</th>
        {% if (connect_status == 'admin') %}
        <th data-field="email" data-sortable="true">Contact Email</th>
        {% endif %}
        <th data-field="description" data-sortable="true">Description</th>
      </tr>
    </thead>
    <tbody data-link="row" class="rowlink" style="font-size:14px;" id="subgroups-table">
      <tr v-if="loading">
  			<td>Loading Data <i class="fas fa-sync fa-spin"></i></td>
  			<td><i class="fas fa-sync fa-spin"></i></td>
  			<td v-if="connect_status === 'admin'" ><i class="fas fa-sync fa-spin"></i></td>
  		</tr>
  		<tr v-if="failed">
  			<td>Failed to load the data, please refresh the page <i class="far fa-times-circle"></i></td>
  			<td><i class="far fa-times-circle"></i></td>
  			<td v-if="connect_status === 'admin'" ><i class="far fa-times-circle"></i></td>
  		</tr>
      <tr v-for="subgroup in subgroups" v-cloak >
        <td><a :href="'/groups/' + subgroup.name">{[{subgroup.display_name}]}</a></td>
        <td>{[{subgroup.clean_unix_name}]}</td>
        <td v-if="connect_status === 'admin'" ><a :href="'mailto:'+subgroup.email+'?subject=Project Inquiry'">{[{subgroup.email}]}</a></td>
        <td>{[{subgroup.description}]}</td>
      </tr>
    </tbody>

  </table>
</div>

<script>

$(document).ready(function() {
  new Vue({
    el: '#subgroups-table',
    data () {
      return {
        subgroups: {},
        connect_status: {{connect_status|tojson|safe}},
        loading: true,
        failed: false
      }
    },
    updated: function() {
  	    //call DataTable after view is updated
        $('#groups-table').DataTable();
  	},
    mounted(){
      axios.get('/groups-xhr/{{group_name}}/subgroups')
    .then(function (response) {
      this.subgroups = response.data;
      this.loading = false;
    }.bind(this)) //must use bind(this) unless using arrow function
    .catch(error => { this.failed = true; this.loading = false; })
    }
  });
});
</script>
{%endblock%}
