{%extends "group_profile_template.html"%}

{%block title%}
  {{group['display_name']}} - Subgroup Requests
{%endblock%}

{%block content%}
<div class="table-responsive">
  <table class="table" id="groups-table" data-toggle="table" data-sort-name="name" data-sort-order="desc">
    <thead>
      <tr>
        <th data-field="name" data-sortable="true">Name</th>
        <th data-field="requester" data-sortable="true">Requester</th>
        <th data-field="email" data-sortable="true">Email</th>
        <th data-field="phone" data-sortable="true">Phone</th>
        <th data-field="description" data-sortable="true">Description</th>
        {% if (user_status == 'admin' or connect_status == 'admin') %}
        <th data-field="action" data-sortable="true">Action</th>
        {% endif %}
      </tr>
    </thead>
    <tbody data-link="row" class="rowlink" style="font-size:14px;" id="subgroup-info">
      {% for subgroup_request in subgroup_requests %}
      <tr>
        <td><a href="{{url_for('edit_subgroup_requests', group_name=subgroup_request['name'])}}">{{subgroup_request['display_name']}}</a></td>
        <td>{{subgroup_request['requester']}}</td>
        <td><a href="mailto:{{subgroup_request['email']}}?subject=Project Inquiry">{{subgroup_request['email']}}</a></td>
        <td>{{subgroup_request['phone']}}</td>
        <td>{{subgroup_request['description']}}</td>
        {% if (user_status == 'admin' or connect_status == 'admin') %}
        <td>
          <div class="btn-group">
            <form role="form" action="{{url_for('approve_subgroup', group_name=group_name, subgroup_name=subgroup_request['name'])}}" method="GET" onsubmit="return confirm('Are you sure you want to approve this subproject?');">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              <button type="submit" name="add_group_member" class="btn btn-xs btn-success" data-submit="Approving Subproject Request..."><i class="fas fa-check-circle"></i> Approve</button>
            </form>

            <button type="button" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-times-circle"></i> Deny</button>
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Confirm denying group request</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form role="form" action="{{url_for('deny_subgroup', group_name=group_name, subgroup_name=subgroup_request['name'])}}" method="POST">
                      <div class="form-group">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                      </div>
                      <div class="form-group">
                        <label for="description">Reason for denial <span id="asterik">*</span></label>
                        <textarea
                          placeholder="Brief reason for denying group request"
                          name="denial-message"
                          required
                          tabindex="1"
                          style="background-color:white; color:black; border-radius:4px; border-color:lightgrey;"
                          value=""
                          ></textarea>
                      </div>
                      <div class="modal-footer">
                        <div class="form-group">
                          <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                          <button type="submit" name="remove_group_member" class="btn btn-sm btn-primary" data-submit="Removing Member..."> Confirm</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>

  </table>
</div>

<script>

$(document).ready(function() {
    $('#groups-table').DataTable();
});
</script>
{%endblock%}
