{%extends "base.html"%}

{%block body%}
<section id="cli-access" class="bg-light">
  <div class="container col-lg-12 mx-auto">

    <div class="row">
      <div class="col-lg-12 mx-auto">
        {%include 'messages.html' %}
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{url_for('groups')}}">Groups</a></li>
        </ol>
        <h2>{{group['display_name']}}</h2>
        <br>
        <div class="btn-toolbar" role="toolbar">
          {% if (user_status == 'nonmember' and connect_status == 'active' and connect_status != 'admin' and enclosing_status != 'admin') %}
          <div class="btn-group mr-2" role="group", aria-label="first group">
            <form role="form" action="{{url_for('view_group', group_name=group_name)}}" method="POST" onsubmit="return confirm('Are you sure you want to request to join this group?');">
              <div class="form-group">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              </div>
              <button type="submit" name="request_group" class="btn btn-primary btn-sm btn-box-shadow" data-submit="Requesting Membership...">Request Membership</button>
            </form>
          </div>
          {% elif user_status == 'pending'%}
          <div class="btn-group mr-2" role="group", aria-label="first group">
            <button type="submit" name="pending_membership" class="btn btn-warning btn-sm disabled btn-sm btn-box-shadow" data-submit="Pending Membership...">Requested Membership</button>
          </div>
          {% endif %}
          {% if (user_status == 'admin' or connect_status == 'admin' or enclosing_status == 'admin') %}
          <div class="btn-group mr-2" role="group" aria-label="first group">
            <a href="{{url_for('create_subgroup', group_name=group_name)}}" class="btn btn-primary btn-sm btn-sm btn-box-shadow">Create Subgroup</a>
          </div>
          <div class="btn-group mr-2" role="group" aria-label="second group">
            <a href="{{url_for('edit_subgroup', group_name=group_name)}}" class="btn btn-secondary btn-sm btn-sm btn-box-shadow">Edit Group</a>
          </div>
            {% if group_name != session['url_host']['unix_name'] %}
          <div class="btn-group mr-2" role="group", aria-label="second group">
            <form role="form" action="{{url_for('delete_group', group_name=group_name)}}" method="POST" onsubmit="return confirm('Are you sure you want to delete this group?');">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              <button type="submit" name="delete_group" class="btn btn-danger btn-sm btn-sm btn-box-shadow" data-submit="Deleting Group...">Delete Group</button>
            </form>
          </div>
            {% endif %}
          {% elif user_status == 'active' %}
          <div class="btn-group mr-2" role="group" aria-label="first group">
            <a href="{{url_for('create_subgroup', group_name=group_name)}}" class="btn btn-primary btn-sm btn-sm btn-box-shadow">Request New Subgroup</a>
          </div>
          {% endif %}
        </div>

        <br/>

        <ul class="nav nav-tabs" id='ul-tabs'>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('view_group', group_name=group_name)}}" id='overview-tab'><i class="fas fa-cubes"></i> Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('view_group_members', group_name=group_name)}}" id='members-tab'><i class="fas fa-user-friends"></i> Members</a>
          </li>
          <li class="nav-item" id='members-request-tab'>
            <a class="nav-link" href="{{url_for('view_group_members_requests', group_name=group_name)}}" id='members-requests-tab'>
              <span class="badge badge-warning" v-if="loading"><i class="fas fa-sync fa-spin"></i></span>
              <span class="badge badge-warning" v-else>{[{members_requests_count}]}</span>
               Members Pending
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('view_group_subgroups', group_name=group_name)}}" id='subgroups-tab'><i class="fas fa-project-diagram"></i> Subgroups</a>
          </li>
          <li class="nav-item" id='subprojects-request-tab'>
            <a class="nav-link" href="{{url_for('view_group_subgroups_requests', group_name=group_name)}}" id='subgroups-requests-tab'><span class="badge badge-warning">{[{subgroup_requests_count}]}</span> Subgroup Requests</a>
          </li>
          {% if group_name != 'root' %}
            {% if (user_status == 'admin' or connect_status == 'admin' or enclosing_status == 'admin') %}
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('view_group_add_members', group_name=group_name)}}" id='add_members-tab'><i class="fas fa-user-plus"></i> Add Members</a>
          </li>
            {% endif %}
          {% endif %}
        </ul>
        <br>

        <div class="row">
          <div class="col-sm-12">

            {% block content %}
            {% endblock%}

          </div>
        </div><!-- row -->

      </div>
    </div>
  </div>
</section>

<meta id="group-data" data-name="{{group['name']}}">
<script>
var group_data = $('#group-data').data();
var group_names = group_data.name.split('.').slice(1);
var unix_names = 'root'
for(group_name of group_names){
  unix_names += ('.' + group_name);
  $('.breadcrumb').append("<li class='breadcrumb-item'><a href='/groups/"+unix_names+"'>"+group_name+"</li>");
}

$(document).ready(function() {
  var pathname = window.location.pathname;
  var route_split_list = pathname.split('/');
  var routes_list = ['members', 'add_members', 'members-requests', 'subgroups', 'subgroups-requests']
  var route = route_split_list[route_split_list.length - 1];

  if (routes_list.includes(route)) {
    $('#' + route + '-tab').addClass('active');
    if (route === 'members') {
      $('.breadcrumb').append("<li class='breadcrumb-item active'>Members</li>");
    } else if (route === 'add_members') {
      $('.breadcrumb').append("<li class='breadcrumb-item active'>Add Members</li>");
    } else if (route === 'members-requests') {
      $('.breadcrumb').append("<li class='breadcrumb-item active'>Members Pending</li>");
    } else if (route === 'subgroups') {
      $('.breadcrumb').append("<li class='breadcrumb-item active'>Subgroups</li>");
    } else if (route === 'subgroups-requests') {
      $('.breadcrumb').append("<li class='breadcrumb-item active'>Subgroup Requests</li>");
    }
  } else {
    $('#overview-tab').addClass('active');
  };
});

$(document).ready(function() {
  new Vue({
    el: '#subprojects-request-tab',
    data () {
      return {
        subgroup_requests_count: null,
        loading: true,
        failed: false
      }
    },
    mounted(){
      axios.get('/groups-xhr/{{group_name}}/subgroups-requests')
    .then(function (response) {
      this.subgroup_requests_count = response.data[1];
      this.loading = false;
    }.bind(this)) //must use bind(this) unless using arrow function
    .catch(error => { this.failed = true; this.loading = false; })
    }
  });
  new Vue({
    el: '#members-request-tab',
    data () {
      return {
        members_requests_count: null,
        loading: true,
        failed: false
      }
    },
    mounted(){
      axios.get('/groups-pending-members-count-xhr/{{group_name}}/members')
    .then(function (response) {
      this.members_requests_count = response.data;
      this.loading = false;
    }.bind(this)) //must use bind(this) unless using arrow function
    .catch(error => { this.failed = true; this.loading = false; })
    }
  });
});
</script>
{%endblock%}
