{%extends "base.html"%}

{%block title%}
  Create Group
{%endblock%}

{%block body%}
<section id="create-group" class="bg-light">
  <div class="container col-lg-12">
    <!-- <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active">Profile</li>
    </ol> -->
    {%include 'messages.html'%}
    <div class="row">
      <div class="col-lg-8 mx-auto">
        {% if user_status == 'active' %}
        <h2>Request group within {{group['display_name']}}</h2>
        {% elif user_status == 'admin' %}
        <h2>Create group within {{group['display_name']}}</h2>
        {% endif %}
        <p class="asterik">* = required field</p>
        <hr/>
        <form role="form" action="{{url_for('create_subgroup', group_name=group_name)}}" method="POST">
          <div class="form-group">
            <label for="name">Short Name <span class='text-muted'>(only alpha-numeric, dash and underscore allowed)</span><span class="asterik">*</span></label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              placeholder="Short Name of Group"
              required="required"
              tabindex="1"
              maxlength="32"
              onkeypress="return checkSpcialChar(event)"
            >
          </div>

          <div class="form-group">
            <label for="display-name">Display Name <span class="asterik">*</span></label>
            <input
              type="text"
              class="form-control"
              id="display-name"
              name="display-name"
              placeholder="Display Name of Group"
              required="required"
              tabindex="2"
            >
          </div>

          <div class="form-group">
            <label for="email">Email <span class="asterik">*</span></label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="{{session['email']}}"
              required="required"
              tabindex="3"
            >
          </div>

          <div class="form-group">
            <label for="phone">Phone <span class="asterik">*</span></label>
            <input
              type="tel"
              id="phone"
              name="phone"
              class="form-control"
              placeholder="555 555 5555"
              required="required"
              tabindex="4"
            >
          </div>

          <div class="form-group">
            <label for="description">Description <span class="asterik">*</span></label>
            <textarea
              placeholder="Brief description of your group"
              name="description"
              required
              tabindex="5"
              style="background-color:white; color:black; border-radius:4px; border-color:lightgrey;"
              value=""
              ></textarea>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div> <!-- Profile Form Container -->
    </div> <!-- row -->

  </div>
</section>

<script>
var name = {{session['name']|tojson}};
var email = {{session['email']|tojson}};
var phone = {{session['phone']|tojson}};

window.onload = setFormFields(email);

function setFormFields(email){
  document.getElementById('email').value = email;
  document.getElementById('phone').value = phone;
}

function checkSpcialChar(event){
  console.log(event.keyCode);
  if(!((event.keyCode >= 65) && (event.keyCode <= 90) || (event.keyCode >= 97) && (event.keyCode <= 122) || (event.keyCode >= 48) && (event.keyCode <= 57) || (event.keyCode == 45) || (event.keyCode == 95))){
    event.returnValue = false;
    return;
  }
  event.returnValue = true;
}

</script>
{%endblock%}
