{%extends "group_profile_template.html"%}

{%block title%}
  {{group['display_name']}}
{%endblock%}

{%block content%}

<div class="card h-100 btn-box-shadow " id='group-info'>
  <div class="card-body">
    {% if (user_status == 'admin') %}
    <p>
      <strong>Contact Email:</strong> <a href="mailto:#">{[{group.email}]}</a>
    </p>
    <p>
      <strong>Phone Number:</strong> {[{group.phone}]}
    </p>
    {% endif %}
    <p>
      <strong>Group Unix Name:</strong> {[{unix_name}]}
    </p>
    <p>
      <strong>Description:</strong> {[{group.description}]}
    </p>
    <p>
      <strong>Created:</strong> {{group_creation_date}}
    </p>
  </div>
</div>

<meta id="group-data" data-name="{{group_name}}">
<script>
var group_data = $('#group-data').data();
var group_name = group_data.name
var group_unix_name = group_name.slice(5);
$(document).ready(function() {
  new Vue({
	el: '#group-info',
	data () {
	    return {
	      group: {},
		user_status: '',
    unix_name: group_unix_name,
		loading: true,
		failed: false
	    }
	},
	mounted() {
            axios.get('/groups-xhr/' + group_name)
	        .then(function (response) {
		    this.group = response.data[0];
		    this.user_status = response.data[1];
				this.loading = false;
		}.bind(this)) //must use bind(this) unless using arrow function
		.catch(error => { this.failed = true; this.loading = false; })
		}
  });
});
</script>
{%endblock%}
