{%extends "base.html"%}

{%block title%}
  {{group['display_name']}}
{%endblock%}

{%block body%}
<section id="cli-access" class="bg-light">
  <div class="container col-lg-12 mx-auto">

    <div class="row">
      <div class="col-lg-12 mx-auto">
        {%include 'messages.html' %}
        <ol class="breadcrumb">
          <!-- <li class="breadcrumb-item"><a href="{{url_for('view_group', group_name='root.osg')}}">Open Science Grid</a></li> -->
          {% if group_name == 'root.osg' %}
          <li class="breadcrumb-item"><a href="{{url_for('view_group', group_name='root.osg')}}">Open Science Grid</a></li>
          <li class="breadcrumb-item active">Project Requests</li>
          {% else %}
          <li class="breadcrumb-item"><a href="{{url_for('groups')}}">OSG Projects</a></li>
          <li class="breadcrumb-item"><a href="{{url_for('view_group', group_name=group_name)}}">{{group['display_name']}}</a></li>
          <li class="breadcrumb-item active">Subproject Requests</li>
          {% endif %}
        </ol>
        <h2>{{group['display_name']}}</h2>
        <br>
        <div class="btn-toolbar" role="toolbar">
          {% if user_status == 'nonmember' %}
          <div class="btn-group mr-2" role="group", aria-label="first group">
            <form role="form" action="{{url_for('view_group', group_name=group_name)}}" method="POST" onsubmit="return confirm('Are you sure you want to request to join this group?');">
              <button type="submit" name="request_group" class="btn btn-primary btn-sm" data-submit="Requesting Membership...">Request Membership</button>
            </form>
          </div>
          {% elif user_status == 'pending'%}
          <div class="btn-group mr-2" role="group", aria-label="first group">
            <button type="submit" name="pending_membership" class="btn btn-warning btn-sm disabled" data-submit="Pending Membership...">Requested Membership</button>
          </div>
          {% elif user_status == 'active' %}
            {% if group_name == 'root.osg' %}
          <div class="btn-group mr-2" role="group" aria-label="first group">
            <a href="{{url_for('create_subgroup', group_name=group_name)}}" class="btn btn-primary btn-sm">Request New Project</a>
          </div>
            {% endif %}
          {% elif user_status == 'admin' %}
            {% if group_name == 'root.osg' %}
          <div class="btn-group mr-2" role="group" aria-label="first group">
            <a href="{{url_for('create_subgroup', group_name=group_name)}}" class="btn btn-primary btn-sm">Create Project</a>
          </div>
            {% endif %}
          <div class="btn-group mr-2" role="group" aria-label="second group">
            <a href="{{url_for('edit_subgroup', group_name=group_name)}}" class="btn btn-secondary btn-sm">Edit Project</a>
          </div>
            {% if group_name != 'root.osg' %}
          <div class="btn-group mr-2" role="group", aria-label="second group">
            <form role="form" action="{{url_for('delete_group', group_name=group_name)}}" method="POST" onsubmit="return confirm('Are you sure you want to delete this group?');">
              <button type="submit" name="delete_group" class="btn btn-danger btn-sm" data-submit="Deleting Project...">Delete Project</button>
            </form>
          </div>
            {% endif %}
          {% endif %}
        </div>

        <br/>

        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('view_group', group_name=group_name)}}"><i class="fas fa-cubes"></i> Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('view_group_members', group_name=group_name)}}"><i class="fas fa-user-friends"></i> Members</a>
          </li>
          <li class="nav-item" id='members-request-tab'>
            <a class="nav-link" href="{{url_for('view_group_members_requests', group_name=group_name)}}">
              <span class="badge badge-warning" v-if="loading"><i class="fas fa-sync fa-spin"></i></span>
              <span class="badge badge-warning" v-else>{[{members_requests_count}]}</span>
               Members Pending
            </a>
          </li>
          {% if group_name == 'root.osg' %}
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('view_group_subgroups', group_name=group_name)}}"><i class="fas fa-project-diagram"></i> Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#"><span class="badge badge-warning">{{subgroup_requests|length}}</span> Project Requests</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('view_group_subgroups', group_name=group_name)}}"><i class="fas fa-project-diagram"></i> Subprojects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#"><span class="badge badge-warning">{{subgroup_requests|length}}</span> Subproject Requests</a>
          </li>
          {% endif %}
          {% if user_status == 'admin' %}
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('view_group_add_members', group_name=group_name)}}"><i class="fas fa-user-plus"></i> Add Members</a>
          </li>
          {% endif %}
        </ul>
        <br>

        <div class="row">
          <div class="col-sm-12">
            <div class="table-responsive">
              {% if group_name == 'root.osg' %}
              <h4>Requested Projects</h4>
              {% else %}
              <h4>Requested Subprojects</h4>
              {% endif %}
              <table class="table" id="groups-table" data-toggle="table" data-sort-name="name" data-sort-order="desc">
                <thead>
                  <tr>
                    <th data-field="name" data-sortable="true">Name</th>
                    <th data-field="requester" data-sortable="true">Requester</th>
                    <th data-field="email" data-sortable="true">Email</th>
                    <th data-field="phone" data-sortable="true">Phone</th>
                    <th data-field="field_of_science" data-sortable="true">Field of Science</th>
                    <th data-field="description" data-sortable="true">Description</th>
                    {% if user_status == 'admin' %}
                    <th data-field="action" data-sortable="true">Action</th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody data-link="row" class="rowlink" style="font-size:14px;" id="subgroup-info">
                  {% for subgroup_request in subgroup_requests %}
                  <tr>
                    <td><a href="{{url_for('edit_subgroup_requests', group_name=subgroup_request['name'])}}">{{subgroup_request['display_name']}}</a></td>
                    <td>{{subgroup_request['requester']}}</td>
                    <td><a href="mailto:{{subgroup_request['email']}}?subject=Project Inquiry">{{subgroup_request['email']}}</a></td>
                    <td>{{subgroup_request['phone']}}</td>
                    <td>{{subgroup_request['purpose']}}</td>
                    <td>{{subgroup_request['description']}}</td>
                    {% if user_status == 'admin' %}
                    <td>
                      <div class="btn-group">
                        <form role="form" action="{{url_for('approve_subgroup', group_name=group_name, subgroup_name=subgroup_request['name'])}}" method="GET" onsubmit="return confirm('Are you sure you want to approve this subproject?');">
                          <button type="submit" name="add_group_member" class="btn btn-xs btn-success" data-submit="Approving Subproject Request..."><i class="fas fa-check-circle"></i> Approve</button>
                        </form>

                        <button type="button" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-times-circle"></i> Deny</button>
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Confirm denying project request</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <form role="form" action="{{url_for('deny_subgroup', group_name=group_name, subgroup_name=subgroup_request['name'])}}" method="POST">
                                  <div class="form-group">
                                    <label for="description">Reason for denial <span id="asterik">*</span></label>
                                    <textarea
                                      placeholder="Brief reason for denying project request"
                                      name="denial-message"
                                      required
                                      tabindex="1"
                                      style="background-color:white; color:black; border-radius:4px; border-color:lightgrey;"
                                      value=""
                                      ></textarea>
                                  </div>
                                  <div class="modal-footer">
                                    <div class="form-group">
                                      <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                                      <button type="submit" name="remove_group_member" class="btn btn-sm btn-primary" data-submit="Removing Member..."> Confirm</button>
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                </tbody>

              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<script>

$(document).ready(function() {
    $('#groups-table').DataTable();
});
new Vue({
  el: '#members-request-tab',
  data () {
    return {
      members_requests_count: {},
      loading: true,
      failed: false
    }
  },
  mounted(){
    axios.get('/groups-pending-members-count-xhr/{{group_name}}/members')
  .then(function (response) {
    this.members_requests_count = response.data;
    this.loading = false;
    // console.log(this.members_requests_count)
  }.bind(this)) //must use bind(this) unless using arrow function
  .catch(error => { this.failed = true; this.loading = false; })
  }
});
new Vue({
  el: '#subgroup-info',
  data () {
    return {
      pi_info: {},
      loading: true,
      failed: false
    }
  },
  mounted(){
    axios.get('/pi-info-xhr/{{group_name}}')
  .then(function (response) {
    this.pi_info = response.data;
    this.loading = false;
    // console.log(this.members_requests_count)
  }.bind(this)) //must use bind(this) unless using arrow function
  .catch(error => { this.failed = true; this.loading = false; })
  }
});
</script>
{%endblock%}
