{%extends "base.html"%}

{%block title%}Home{%endblock%}

{%block body%}

<!-- Page Header -->

<header class="text-white" style="height: 100%;" id="hero">
  <div class="container text-center">

    <img src="{{url_for('static', filename='img/OSGConnect_Logo.png')}}" id="home-brand" style="width:30%;">
    <br></br>
    <h2 id="headline"></h2>
    <h4 class="lead">
      <span class="rotating text-muted">
        {{home_text_rotating}}
      </span>
    </h4>
    {% if session.get('is_authenticated') %}
    {% else %}
    <a role="button" href="{{url_for('login')}}" class="btn btn-primary btn-box-shadow">Login</a>
    <a role="button" href="{{url_for('signup')}}" class="btn btn-primary btn-box-shadow">Sign Up</a>
    {% endif %}
    <br>
  </div>
</header>

<section id="about" class="container wow animate fadeInUp" style="display: none;">
  <div class="container" id="about-vc3-scroll">
    <div class="content container col-xs-12">
      <h2 class="section-title">
        About <span id="brand">CI Connect</span>
      </h2>
       <h5 class="section-description">
          CI Connect provides hosted job submission services for
          distributed, high-throughput computing.
       </h5>
      <div class="section-title-divider"></div>
    </div>

    <div class="content col-xs-12">
      <!-- in views, if snowmass -> swap collab info, send same obj -->
      {% for collab in collaborations %}
      <div class="row container wow animate fadeInRight">
        <div class="col-xs-12 col-md-4">
          <a href="{{collab['href']}}" target="_blank">
            <img class="img-responsive" id="apf-icon" src="{{url_for('static', filename=collab['img'])}}">
          </a>
        </div>
        <div class="col-xs-12 col-md-8">
          <h5 class="section-description" id="{{collab['name']}}"></h5>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
</section>
{%include 'contributions.html'%}
<!-- Page footer -->
{%include 'footer.html'%}

<script type="text/javascript">

$('.carousel').carousel()

$(document).ready(function() {
// get current URL path and assign connect branding
var hostname = window.location.hostname

if(String(hostname).includes('local')){
  document.getElementById("home-brand").src="{{url_for('static', filename='img/snowmass-connect-logo.png')}}";
} else if(String(hostname).includes('atlas')){
  document.getElementById("home-brand").src="{{url_for('static', filename='img/atlas-connect-logo.png')}}";
} else if(String(hostname).includes('cms')){
  document.getElementById("home-brand").src="{{url_for('static', filename='img/cms-connect-logo.png')}}";
} else if(String(hostname).includes('duke')){
  document.getElementById("home-brand").src="{{url_for('static', filename='img/duke-connect-logo.png')}}";
} else if(String(hostname).includes('spt')){
  document.getElementById("home-brand").src="{{url_for('static', filename='img/spt-logo.jpg')}}";
} else if(String(hostname).includes('af.uchicago')){
  document.getElementById("home-brand").src="{{url_for('static', filename='img/atlas-af-logo.png')}}";
} else if(String(hostname).includes('test')){
  document.getElementById("home-brand").src="{{url_for('static', filename='img/www-test-logo.png')}}";
} else if(String(hostname).includes('snowmass21')){
  document.getElementById("home-brand").src="{{url_for('static', filename='img/snowmass-connect-logo.png')}}";
} else if(String(hostname).includes('psdconnect') || String(hostname).includes('uchicago')){
  document.getElementById("home-brand").src="{{url_for('static', filename='img/psd-connect-logo.png')}}";
} else {
  document.getElementById("home-brand").src="{{url_for('static', filename='img/CIConnect_Logo.png')}}";
}
})

new WOW().init();
var md = new Remarkable('full');
var home_text_headline = {{home_text_headline|tojson}};
var home_text_headline = md.render(home_text_headline);
$('#headline').html(home_text_headline);

var collaborations = {{collaborations|tojson}};
for(collab of collaborations) {
  let description = md.render(collab['description']);
  $('#'+collab['name']).html(description);
  document.getElementById(collab['name']).querySelector("h2").style.display = 'none';
}

</script>
{%endblock%}
