{%extends "base.html"%}

{%block title%}
  Instances
{%endblock%}

{%block body%}

<section id="instances">
  <div class="container col-lg-12 mx-auto">
    {%include 'messages.html' %}
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Instances</li>
    </ol>
    {% if user_status in ['active', 'admin'] %}
    <div class="btn-group mr-2" role="group" aria-label="first group">
      <a href="{{url_for('create_application')}}" class="btn btn-primary btn-sm btn-box-shadow">Deploy Application</a>
    </div>
    {% endif %}
    <br></br>
    <div class='row'>
      <div class="col-lg-12 mx-auto">

        <div class="table-responsive">
          <table class="table" id="instance-table" data-toggle="table" data-sort-name="name" data-sort-order="desc">
            <thead>
              <tr>
                <th data-field="name" data-sortable="true">Name</th>
                <th data-field="group-name" data-sortable="true">Group Unix Name <i class="fas fa-question-circle" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="{{group_unix_name_description}}"></i></th>
                <th data-field="cluster" data-sortable="true">Cluster</th>
                <th data-field="instance-id" data-sortable="true">ID</th>
              </tr>
            </thead>
            <tbody data-link="row" class="rowlink" style="font-size:14px;">
              {% for instance in instances %}
              <tr>
                <td><a href="{{url_for('view_instance', instance_id=instance['metadata']['id'])}}">{{instance['metadata']['name']}}</a></td>
                <td>{{instance['metadata']['group']}}</td>
                <td>{{instance['metadata']['cluster']}}</td>
                <td>{{instance['metadata']['id']}}</td>
              </tr>
              {% endfor %}
            </tbody>

          </table>
        </div>

      </div>
    </div>

  </div> <!-- container -->
</section>
<script>
// DataTable
var table = $('#instance-table').DataTable();
</script>
{%endblock%}