{%extends "base.html"%}

{%block title%}
My notebook metrics
{%endblock%}

{%block body%}
<style>
  .select-table {
    width: auto;
  }

  .select-table td {
    padding-left: 0px !important;
  }
</style>
<section>
  <div class="container col-lg-12">
    {%include 'messages.html' %}
    <ol class="breadcrumb">
      <li class="breadcrumb-item">My notebooks</li>
    </ol>
    {% if notebooks|length > 0 %}
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name of notebook</th>
          <th>Memory requested</th>
          <th>CPU requested</th>
          <th>GPU requested</th>
          <th>GPU memory requested</th>
          <th>Hours remaining</th>
        </tr>
      </thead>
      <tbody>
        {% for notebook in notebooks %}
        <tr>
          <td><a href="{{notebook['url']}}" target="_blank">{{notebook['display_name']}}</a></td>
          <td>{{notebook['memory_request']}}</td>
          <td>{{notebook['cpu_request']}}</td>
          <td>{{notebook['gpu_request']}}</td>
          <td>{{notebook['gpu_memory_request']}}</td>
          <td>{{notebook['hours_remaining']}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div id="kibana-viz" style="height: 1000px;">

    </div>
    {% else %}
    <p>You have zero notebooks currently running.</p>
    {% endif %}
  </div>
</section>
<script type="text/javascript">
  $(document).ready(function () {
    var username = "{{session.get('unix_name')}}";

    var refreshKibanaViz = function () {
      var kibanaViz = $('#kibana-viz')
      kibanaViz.empty();

      var Usage = $('<iframe>');
      Usage.attr('src', "https://atlas-kibana.mwt2.org:5601/s/analysis-facility/app/dashboards?auth_provider_hint=anonymous1#/view/76cd2d80-09fc-11ed-9a2c-41033d72f6b6?embed=true&_g=(filters%3A!(%28query%3A%28match_phrase%3A%28kubernetes.labels.owner%3A" + username + "%29%29%29)%2CrefreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-6h%2Cto%3Anow))&show-time-filter=true&hide-filter-bar=true")
      Usage.css('width', '100%');
      Usage.css('height', '1000px');
      Usage.css('margin', '0');
      Usage.css('padding', '0');
      Usage.css('border', 'None');

      kibanaViz.append(Usage);
    }

    refreshKibanaViz();

    $('.nav-tabs a').on('click', function (e) {
      e.preventDefault();
      $(this).tab('show');
    });
  });
</script>
{%endblock%}
