{% extends "base.html" %}
 
{% block title %}
  Notebook metrics
{% endblock %}

{% block libraries %}
<script src="https://unpkg.com/vue@3"></script>
{% endblock %}

{% block content %}
<section id="notebook-metrics">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="text-decoration-none" href="{{ url_for('home') }}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Notebook metrics</li>
      </ol>
    </nav>
    {% if notebooks|length %}
    <table class="table table-bordered mb-4">
      <thead>
        <tr>
          <th>Notebook name</th>
          <th>Username</th>
          <th>Memory request</th>
          <th>CPU request</th>
          <th>GPU request</th>
          <th>GPU memory request</th>
          <th>Hours remaining</th>
        </tr>
      </thead>
      <tbody>
        {% for notebook in notebooks %}
        <tr>
          <td>{{ notebook.notebook_name }}</td>
          <td>{{ notebook.username }}</td>
          <td>{{ notebook.memory_request }}</td>
          <td>{{ notebook.cpu_request }}</td>
          <td>{{ notebook.gpu_request }}</td>
          <td>{{ notebook.gpu_memory_request }}</td>
          <td>{{ notebook.hours_remaining }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div>
      <iframe src="https://atlas-kibana.mwt2.org:5601/s/analysis-facility/app/dashboards?auth_provider_hint=anonymous1#/view/d5fa21d0-1f39-11ed-afcf-d91dad577662?embed=true&_g=()&show-time-filter=true&hide-filter-bar=true" height="1000" width="1300"></iframe>  
    </div>
    {% else %}
    <p>There are no notebooks in the namespace.</p>
    {% endif %}
  </div>
</section>
{% endblock %}