{% extends "base.html" %} {% block title %} Plot of users over time {% endblock
%} {% block body %}
<section>
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a class="text-decoration-none" href="{{ url_for('home') }}">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          Plot of users over time
        </li>
      </ol>
    </nav>
    <img src="data:image/png;base64,{{ base64_encoded_image }}" />
  </div>
</section>
{% endblock %}
