{%extends "base.html"%}

{%block title%}
  Profile
{%endblock%}

{%block body%}
<section id="profile" class="">
  <div class="container col-lg-12">
    <!-- <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active">Profile</li>
    </ol> -->
    {%include 'messages.html'%}
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <h1>Profile</h1>
        <hr/>
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="card h-100 btn-box-shadow ">
              <div class="card-header">
                User Information <i class="fas fa-user-edit float-right"></i>
              </div>
              <div class="card-body">
                <!-- <h5 class="card-title" style="text-align: center">User Information</h5> -->
                <div class="row">
                  <div class="col-sm-6">
                    <ul class="list-unstyled">
                      <li><strong>Name:</strong> {{profile['name']}}</li>
                      <li><strong>Email:</strong> {{profile['email']}}</li>
                      <li><strong>Phone:</strong> {{profile['phone']}}</li>
                      <li><strong>Institution:</strong> {{profile['institution']}}</li>
                      <li><strong>Unix Username:</strong> {{profile['unix_name']}}</li>
                      {% if profile['X.509_DN'] %}
                      <li><strong>X.509 DN:</strong> {{profile['X.509_DN']}}</li>
                      {% endif %}
                      <br>
                      <li><strong>Joined:</strong> {{profile['join_date'][:11]}}</li>
                      <li><strong>Last Active:</strong> {{profile['last_use_time'][:11]}}</li>
                    </ul>
                    <a href="{{url_for('edit_profile', unix_name=profile['unix_name'])}}" class="btn btn-primary btn-sm btn-box-shadow">Edit Profile</a>
                    <br>
                  </div>
                  <div class="col-sm-6" id='snowmass-login-node' style="display: none;">
                    <strong>Connect to your assigned login node(s) via ssh:</strong>
                    <ul style="list-style: inside; padding-left:0;">
                      <li>login.snowmass21.io</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="col-sm-12 col-md-6">
            <div class="card h-100 btn-box-shadow ">
              <div class="card-header">
                {% if user_status == 'nonmember' %}
                {{session['url_host']['display_name']}} Group Membership Status: <strong id='osg-user-status'>{{user_status}}</strong> <i class="fas fa-users float-right"></i>
                <div class="btn-group mr-2" role="group" aria-label="first group">
                  <form role="form" action="{{url_for('view_group', group_name=session['url_host']['unix_name'])}}" method="POST" onsubmit="return confirm('Are you sure you want to request to join this group?');">
                    <div class="form-group">
                      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    </div>
                    <button type="submit" name="request_group" class="btn btn-primary btn-sm btn-box-shadow" data-submit="Requesting Membership...">Request Membership</button>
                  </form>
                </div>
                {% else %}
                {{session['url_host']['display_name']}} Group Membership Status: <strong id='osg-user-status'>{{user_status}}</strong> <i class="fas fa-users float-right"></i>
                {% endif %}
              </div>
              <div class="card-body">
                <a href="{{url_for('users_groups')}}" class="btn btn-primary btn-sm btn-box-shadow">My Groups</a>
                <br></br>
                <div class="table-responsive">
                  <table class="table" id="groups-table" data-toggle="table" data-sort-name="name" data-sort-order="desc">
                    <thead>
                      <tr>
                        <th data-field="name" data-sortable="true">Group Unix Name <i class="fas fa-question-circle" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="{{group_unix_name_description}}"></i></th>
                        <th data-field="status" data-sortable="true">Member Status</th>
                      </tr>
                    </thead>
                    <tbody data-link="row" class="rowlink" style="font-size:14px;">
                      {% for group in group_memberships %}
                        {% if group['name'] != 'root' %}
                      <tr>
                        <td><a href="{{url_for('view_group', group_name=group['name'])}}">{{'.'.join(group['name'].split('.')[1:])}}</a></td>
                          {% if group['state'] == 'pending' %}
                        <td style='color: orange;'><strong>{{group['state']}}</strong></td>
                          {% elif group['state'] == 'active' %}
                        <td style='color: green;'><strong>{{group['state']}}</strong></td>
                          {% elif group['state'] == 'admin' %}
                        <td style='color: blue;'><strong>{{group['state']}}</strong></td>
                          {% endif %}
                      </tr>
                        {% endif %}
                      {% endfor %}
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div> <!-- inner row -->
    </div> <!-- row -->
    {% if profile['totp_secret'] %}
    <br>
    <div class="row"> <!-- MFA card begin -->
      <div class="col-lg-12 mx-auto">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="card h-100 btn-box-shadow ">
              <div class="card-header">
                <b>Multi-Factor Authentication</b> <i class="fas fa-user-secret float-right"></i>
		<div id="accordionTwo" role="tablist" aria-multiselectable="true">
		</div>
		  <div class="card panel panel-info resource-profile" style="margin: 1em;">
		    <div class="card-header panel-title" role="tab" id="heading">
		      <h6 class="mb-0">
			<a class="collapsed" data-toggle="collapse" data-parent="#accordionTwo" href="#collapseFour" aria-expanded="true" aria-controls="collapse">
			  Setup Information<i class="fa fa-info-circle pull-right" aria-hidden="true"></i>
			</a>
		      </h6>
		    </div>
		    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="heading">
		    <!-- TODO: Put information here -->
		      <div class="card-block panel-body disabled" style="font-size: 14px">
			<ol>
			  <li>Download the Google Authenticator application:
			    <ul>
			    <li> <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2"> Android </a> </li>
			    <li> <a href="https://apps.apple.com/us/app/google-authenticator/id388497605"> iOS </a> </li>
			    </ul>
			  </li>
			  <li> Click the "+" icon in the lower righthand corner, and click "Scan a QR Code" </li>
			  <li> Scan the following QR code: </li>
			  <div> <img src="{{ qrcode(authenticator_string) }}"> </div>
			  <li> Once the QR code has been scanned, the app will start to generate six digit security tokens. You will need to enter this token when logging in </li>
			</ol>
		      </div>
		    </div>
		  </div>
		</div><!-- /.accordionTwo-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- MFA card end -->
    {% endif %}
  </div>
</section>

<script>
var user_status = document.getElementById('osg-user-status').textContent;
var hostname = window.location.hostname;

if (user_status === 'pending') {
  document.getElementById('osg-user-status').style.color = "orange";
} else if (user_status === 'active'){
  document.getElementById('osg-user-status').style.color = "green";
} else if (user_status == 'admin') {
  document.getElementById('osg-user-status').style.color = "blue";
}
$(document).ready(function() {
  $('#groups-table').DataTable({
    order: [[1, 'desc'],[0, 'asc']],
    "aLengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
    "pageLength": 5
  })
});

if(String(hostname).includes('snowmass21')){
  document.getElementById("snowmass-login-node").style.display = "inline";
};

</script>
{%endblock%}
