{%extends "base.html"%}

{%block title%}
  Edit Profile
{%endblock%}

{%block body%}
<section id="profile" class="bg-light">
  <div class="container col-lg-12">
    <!-- <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active">Profile</li>
    </ol> -->
    {%include 'messages.html'%}
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <h2>Edit Profile</h2>
        <small id="unixName" class="text-muted">UNIX Username: {{session['unix_name']}}</small>
        <br/><small id="globusID" class="text-muted">Globus ID: {{session['primary_identity']}}</small>
        <p class="asterik">* = required field</p>
        <hr/>
        <form role="form" action="{{url_for('edit_profile', unix_name=unix_name)}}" method="POST">
          <div class="form-group">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          </div>
          <div class="form-group">
            <label for="name">Name <span class="asterik">*</span></label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              placeholder="{{session['name']}}"
              required="required"
              tabindex="1"
              maxlength="64"
            >
          </div>

          <div class="form-group">
            <label for="phone-number">Phone <span class="asterik">*</span></label>
            <input
              type="tel"
              id="phone-number"
              name="phone-number"
              class="form-control"
              placeholder="111 111 1111"
              required="required"
              tabindex="2"
              maxlength="20"
            >
          </div>

          <div class="form-group">
            <label for="institution">Institution <span class="asterik">*</span></label>
            <input
              type="text"
              id="institution"
              name="institution"
              class="form-control"
              placeholder="Institution Name"
              required="required"
              tabindex="3"
              maxlength="64"
            >
          </div>

          <div class="form-group">
            <label for="email">Email <span class="asterik">*</span></label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="{{session['email']}}"
              required="required"
              tabindex="4"
            >
            <small id="emailHelp" class="form-text text-muted">   Please use an institutional email address </small>
          </div>

          <div class="form-group">
            <label for="name">X.509 Distinguished Name</label>
            <input
              type="text"
              class="form-control"
              id="x509dn"
              name="x509dn"
              placeholder="X.509 Distinguished Name"
              tabindex="5"
              maxlength="512"
            >
          </div>

	  <div class="form-check">
	    <input type="checkbox" class="form-check-input" id="totpsecret" name="totpsecret">
	    <label class="form-check-label" for="totpsecret">Set up Multi-Factor Authentication</label>
            {% if profile['totp_secret'] %}
            <small id="mfaHelp" class="form-text text-muted">This will <b>delete</b> your current MFA secret and generate a new one </small>
            {% else %}
            <small id="mfaHelp" class="form-text text-muted">Enabling MFA will add an additional layer of security for SSH connections </small>
            {% endif %}
	  </div></br>

          <div class="form-group">
            <label for="sshpubstring">SSH Public Key</label>
            <textarea
              placeholder="Please enter your SSH public key here..."
              name="sshpubstring"
              id="sshpubstring"
              tabindex="6"
              style="background-color:white; color:black; border-radius:4px; border-color:lightgrey;"
              ></textarea>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-box-shadow">Update Profile</button>
          </div>
        </form>
      </div> <!-- Profile Form Container -->

      <div class="col-md-6">

        <h2 class="title">
          <small>Adding or generating your SSH public key:</small>
        </h2>
        <hr/>
        <div id="accordion" role="tablist" aria-multiselectable="true">

          <div class="card panel panel-info resource-profile" style="margin: 1em;">
            <div class="card-header panel-title" role="tab" id="headingTwo">
              <h6 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Already have an SSH public key? <i class="fa fa-info-circle pull-right" aria-hidden="true"></i>
                </a>
              </h6>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="card-block panel-body disabled" style="font-size: 14px">
                <ol>
                  <li>To find out, open your terminal and type:  <kbd>ls ~/.ssh</kbd></li>
                  <li>If there is a <kbd>.pub</kbd> extension, such as <kbd>id_rsa.pub</kbd>, that is your SSH key.</li>
                  <li>Type:  <kbd>cat ~/.ssh/id_rsa.pub</kbd> in order to see your key.</li>
                  <li>Copy the selection to the clipboard.</li>
                  <li>Paste the contents of the clipboard in the
                    corresponding box on your CI Connect Profile. Please <b>only</b> paste the SSH ( typically ending in .pub) public key into this box.
                  </li>
                </ol>
              </div>
            </div>
          </div>

          <div class="card panel panel-info resource-profile" style="margin: 1em;">
            <div class="card-header panel-title" role="tab" id="headingThree">
              <h6 class="mb-0">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Generate a new SSH public key <i class="fa fa-info-circle pull-right" aria-hidden="true"></i>
                </a>
              </h6>
            </div>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="card-block panel-body disabled" style="font-size: 14px">
                <ol>
                  <li>In a terminal, type:
                    <div>
                      <kbd>ssh-keygen -t rsa</kbd>
                    </div>
                  </li>
                  <li>Hit enter for the default location, and optionally enter a
                    password. This will generate two files: A private key file
                    (typically <kbd>id_rsa</kbd>) and a key file (typically <kbd>id_rsa.pub</kbd>). The private key should <b>never</b> be shared, and {{session['url_host']['display_name']}} will never ask you for your private key.
                  </li>
                  <li>In order to see your SSH public key type:
                    <div>
                      <kbd>cat ~/.ssh/id_rsa.pub</kbd>
                    </div>
                  </li>
                  <li>Use your mouse to select everything that is printed
                    to the screen, the format should look like:
                    <div>
                      <kbd>ssh-rsa AAAAB3N....M7Q== yourusername@yourmachine</kbd>
                    </div>
                  </li>
                  <li>Copy the selection to the clipboard.</li>
                  <li>Paste the contents of the clipboard in the
                    corresponding box on your CI Connect Profile.
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div><!-- /.accordion-->
      </div><!-- /.col-md-6 -->
    </div> <!-- row -->

  </div>
</section>
<meta id="profile-data" 
      data-name="{{profile['name']}}" 
      data-email="{{profile['email']}}" 
      data-phone="{{profile['phone']}}" 
      data-institution="{{profile['institution']}}"
      data-ssh_pubkey="{{profile['public_key']}}"
      data-x509dn="{{profile['X.509_DN']}}">
<script>
var profile = $('#profile-data').data();
var name = profile.name;
var email = profile.email;
var phone = profile.phone;
var institution = profile.institution;
var ssh_pubkey = profile.ssh_pubkey;
var x509dn = profile.x509dn

window.onload = setEditFields(name, email, phone, institution, ssh_pubkey, x509dn);

function setEditFields(name, email, phone, institution, ssh_pubkey, x509dn){
  document.getElementById('name').value = name;
  document.getElementById('email').value = email;
  document.getElementById('phone-number').value = phone;
  document.getElementById('institution').value = institution;
  document.getElementById('x509dn').value = x509dn;
  document.getElementById('sshpubstring').value = ssh_pubkey;
}

</script>
{%endblock%}
