<script type="text/javascript">

$(document).ready(function() {
  const pathname = window.location.pathname;
  const pathsplit = pathname.split('/')
  const hostname = window.location.hostname
  const connect_name = hostname.split('.')[0];

  const connect_brand = document.getElementById("connect-brand");
  const nav_overview = document.getElementById("nav-overview");
  const nav_emailto = document.getElementById("nav-email");
  const nav_handbook = document.getElementById("nav-handbook");
  const nav_bar = document.getElementById("nav-main");

  var addDropdownItem = function(title, href, id=null) {
    var dropdown = null;
    if (id === null) 
      dropdown = document.getElementById("login-node-dropdown");
    else 
      dropdown = document.getElementById(id);

    var a = document.createElement('a');
    var link = document.createTextNode(title);
    a.appendChild(link);
    a.title = title;
    a.href = href;
    a.className = 'dropdown-item';
    a.target = '_blank';
    if (dropdown)
        dropdown.prepend(a);
  };

  var openAfPortal = function() {
    document.title = 'ATLAS Analysis Facility at UChicago';
    // Global site tag (gtag.js) - Google Analytics
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-178331567-5');
    connect_brand.src="{{url_for('static', filename='img/atlas-af-logo.png')}}";
    $('#login-node-nav').css('display', 'inline');
    $('#login-node-nav-link').html('Monitoring');
    $('#platforms-nav-dropdown').css('display', 'list-item');
    $('#nav-user-docs').attr('href', 'https://maniaclab.uchicago.edu/af-docs/').show();
    $('#nav-external-docs').attr('href', 'https://usatlas.readthedocs.io/projects/af-docs/en/latest/').show();
    $('#nav-email').attr('href', 'mailto:atlas-us-chicago-tier3-admins@cern.ch')
    var title_login = "Login Nodes"
    var href_login = 'https://grafana.mwt2.org/d/m3teM9W7k/af-servers?orgId=1';
    addDropdownItem(title_login, href_login);
    $('#footer-img').hide();
    $('#af-footer-images').show();
  };

  var openSnowmassPortal = function() {
    document.title = 'Snowmass21 ' + document.title;
    // Global site tag (gtag.js) - Google Analytics
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-178331567-1');   
    connect_brand.src="{{url_for('static', filename='img/snowmass-connect-logo.png')}}";
    $('#nav-user-docs').attr('href', 'https://maniaclab.uchicago.edu/snowmass-connect-docs/');
    $('#nav-external-docs').html('Energy Frontier').attr('href', 'https://snowmass21.org/montecarlo/energy');
    $('#nav-email').attr('href', 'mailto:help@opensciencegrid.org');
    $('#nav-user-docs').show();
    $('#nav-external-docs').show();
    try {
      document.getElementById("instances-nav").style.display = "inline";
    } catch(err) {
      console.log("User is currently not logged in")
    }
    try {
      document.getElementById("contributions").style.display = "inline";
    } catch(err) {
      console.log("Currently no contributions")
    }
  } 

  var openAtlasPortal = function() {
    document.title = 'Atlas ' + document.title;
    // Global site tag (gtag.js) - Google Analytics
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-178331567-5');
    connect_brand.src="{{url_for('static', filename='img/atlas-connect-logo.png')}}";
    $('#nav-overview').attr('href', 'https://ci-connect.atlassian.net/wiki/spaces/AC/overview').show();
    $('#nav-handbook').attr('href', 'https://ci-connect.atlassian.net/wiki/spaces/AC/pages/1114129/ATLAS+Connect+Quickstart').show();
    $('#nav-email').attr('href', 'mailto:atlas-connect-l@lists.bnl.gov');
    document.getElementById("login-node-nav").style.display = "inline";
    var title = 'login.usatlas.org'
    var href = 'https://grafana.mwt2.org/d/JiH0SAoZk/connect-servers?orgId=1&var-Server=login_usatlas_org'
    addDropdownItem(title, href);
  }

  var openCmsPortal = function() {
    document.title = 'Cms ' + document.title;
    // Global site tag (gtag.js) - Google Analytics
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-178331567-4');
    connect_brand.src="{{url_for('static', filename='img/cms-connect-logo.png')}}";
    $('#nav-overview').attr('href', 'https://ci-connect.atlassian.net/wiki/spaces/CMS/overview').show();
    $('#nav-handbook').attr('href', 'https://ci-connect.atlassian.net/wiki/spaces/CMS/pages/22609980/Introduction+to+CMS+Connect').show();
    $('#nav-email').attr('href', 'mailto:cms-connect-support@cern.ch');
    document.getElementById("login-node-nav").style.display = "inline";
    var title = 'login.uscms.org';
    var href = 'https://grafana.mwt2.org/d/JiH0SAoZk/connect-servers?orgId=1&var-Server=login_uscms_org';
    addDropdownItem(title, href);
  }

  var openPsdPortal = function() {
    document.title = 'PSD ' + document.title;
    // Global site tag (gtag.js) - Google Analytics
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-178331567-8');
    connect_brand.src="{{url_for('static', filename='img/psd-connect-logo.png')}}";
    $('#nav-overview').attr('href', 'https://physicalsciences.uchicago.edu/').show();
    $('#nav-email').attr('href', 'mailto:support@ci-connect.uchicago.edu');
    // nav_bar.classList.add("psd-uchicago");
    document.getElementById("login-node-nav").style.display = "inline";
    var title = "UChicago CI Connect"
    var href = 'https://gracc.opensciencegrid.org/dashboard/db/osg-connect-summary-uchicago-ci?orgId=1';
    addDropdownItem(title, href);
  }

  var openDukePortal = function() {
    // Global site tag (gtag.js) - Google Analytics
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-178331567-7');
    connect_brand.src="{{url_for('static', filename='img/duke-connect-logo.png')}}";
    $('#nav-overview').attr('href', 'https://rc.duke.edu/national-computing-labs/duke-ci-connect-quick-start/').show();
    $('#nav-email').attr('href', 'mailto:scsc@duke.edu');
    document.getElementById("login-node-nav").style.display = "inline";
    var title = 'login.duke.ci-connect.net'
    var href = 'https://grafana.mwt2.org/d/JiH0SAoZk/connect-servers?orgId=1&var-Server=login_duke_ci-connect_net'
    addDropdownItem(title, href);
  }

  var openSptPortal = function() {
    // Global site tag (gtag.js) - Google Analytics
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-178331567-6');
    connect_brand.src="{{url_for('static', filename='img/spt-connect-logo.png')}}";
    $('#nav-overview').attr('href','https://pole.uchicago.edu/index.php').show();
    $('#nav-email').attr('href', 'mailto:jlstephen@uchicago.edu');
    $('#login-node-nav-link').html('Monitoring');
    document.getElementById("login-node-nav").style.display = "inline";
    var title = "amundsen.grid.uchicago.edu"
    var title_scott = 'scott.grid.uchicago.edu'
    var title_spt = 'SPT Storage'
    var href_amundsen = 'https://grafana.mwt2.org/d/JiH0SAoZk/connect-servers?orgId=1&var-Server=amundsen_grid_uchicago_edu';
    var href_scott = 'https://grafana.mwt2.org/d/JiH0SAoZk/connect-servers?orgId=1&var-Server=scott_grid_uchicago_edu';
    var href_spt = 'https://grafana.mwt2.org/d/0HbLiB_Wk/spt-storage?orgId=1&refresh=5m'
    addDropdownItem(title, href_amundsen);
    addDropdownItem(title_scott, href_scott);
    addDropdownItem(title_spt, href_spt);
  }

  var openDefaultPortal = function() {
    document.title = connect_name.charAt(0).toUpperCase() + connect_name.slice(1) + ' ' + document.title;
    // Global site tag (gtag.js) - Google Analytics
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-178331567-3');
    connect_brand.src="{{url_for('static', filename='img/CIConnect_Logo.png')}}";
    var footer_element = document.getElementById("footer-container");
    footer_element.parentNode.removeChild(footer_element);
  }

  if (String(hostname).includes('local')) {
    openAfPortal();
  } else if (String(hostname).includes('af.uchicago')){
    openAfPortal();
  } else if (String(hostname).includes('www-test.ci-connect.net')) {
    openAfPortal();
  } else if (String(hostname).includes('connect.uchicago.edu')) {
    openPsdPortal();
  } else if (String(hostname).includes('connect.usatlas')) {
    openAtlasPortal();
  } else if (String(hostname).includes('connect.uscms')) {
    openCmsPortal();
  } else if (String(hostname).includes('connect.snowmass21.io')) {
    openSnowmassPortal();
  } else {
    openDefaultPortal();
  };

  if(pathsplit.length > 1){
    var parentpath = pathsplit[1];
    $('nav > ul > li > a[href="/'+parentpath+'"]').parent().addClass('active');
  } else {
    // look to update the full a[href=''] uri below
    $('nav > ul > li > a[href="'+pathname+'"]').parent().addClass('active');
  }

  $('[data-toggle="popover"]').popover()
});

</script>
