{%extends "base.html"%}

{%block title%}
  Support
{%endblock%}

{%block body%}
<section id="create-group" class="bg-light">
  <div class="container col-lg-12">
    {%include 'messages.html'%}
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Need Support?</h2>
        <hr/>
        <form role="form" action="{{url_for('support')}}" method="POST">

          <div class="form-group">
            <label for="email">Contact Email *</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="your-email@domain.com"
              required="required"
              tabindex="1"
            >
          </div>

          <div class="form-group">
            <label for="description">Questions/Comments <span id="asterik">*</span></label>
            <textarea
              placeholder="Brief description of your issue"
              name="description"
              required
              tabindex="2"
              style="background-color:white; color:black; border-radius:4px; border-color:lightgrey;"
              value=""
              ></textarea>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div> <!-- Profile Form Container -->
    </div> <!-- row -->

  </div>
</section>

{%endblock%}
