{%extends "base.html"%}

{%block title%}Projects{%endblock%}

{%block body%}

<section id="projets">
  <div class="container col-lg-12 mx-auto">

    <div class='row'>
      <div class="col-lg-12 mx-auto">
        {%include 'messages.html' %}
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{url_for('profile')}}">Profile</a></li>
          <li class="breadcrumb-item"><a href="{{url_for('users_groups')}}">My Groups</a></li>
          <li class="breadcrumb-item">Pending</li>
        </ol>
        {% if user_status == 'active' %}
        <div class="btn-group mr-2" role="group" aria-label="first group">
          <a href="{{url_for('create_subgroup', group_name=session['url_host']['unix_name'])}}" class="btn btn-primary btn-sm btn-box-shadow ">Request New Group</a>
        </div>
        {% elif user_status == 'admin' %}
        <div class="btn-group mr-2" role="group" aria-label="first group">
          <a href="{{url_for('create_subgroup', group_name=session['url_host']['unix_name'])}}" class="btn btn-primary btn-sm btn-box-shadow ">Create New Group</a>
        </div>
        {% endif %}
        <br></br>

        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" id="active-projects-tab" href="{{url_for('users_groups')}}">My Groups</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" id="pending-projects-tab" href="#">Pending Group Requests</a>
          </li>
        </ul>

        <div class="row">
          <div class="col-sm-12">
            <br>
            <div class="table-responsive">
              <table class="table" id="groups-table" data-toggle="table" data-sort-name="name" data-sort-order="desc">
                <thead>
                  <tr>
                    <th data-field="name" data-sortable="true">Name</th>
                    <th data-field="email" data-sortable="true">Contact Email</th>
                    <th data-field="description" data-sortable="true">Description</th>
                  </tr>
                </thead>
                <tbody data-link="row" class="rowlink" style="font-size:14px;">
                  {% for group_request in project_requests %}
                  <tr>
                    <td><a href="{{url_for('edit_subgroup_requests', group_name=group_request['name'])}}">{{group_request['display_name']}}</a></td>
                    <td>{{group_request['email']}}</td>
                    <td>{{group_request['description']}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div> <!-- container -->
</section>

<script>
$(document).ready(function() {
    $('#groups-table').DataTable();
});
// Javascript to enable link to tab
var url = document.location.toString();
if (url.match('#')) {
    $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
}
</script>
{%endblock%}
