{% extends "base.html" %}

{% block title %} Groups {% endblock %}

{% block libraries %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}" />
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-decoration-none" href="{{ url_for('home') }}">Home</a></li>
                <li class="breadcrumb-item"><a class="text-decoration-none" href="{{ url_for('profile') }}">Profile</a></li>
                <li class="breadcrumb-item active" aria-current="page">Groups</li>
            </ol>
        </nav>
        <div class="my-4 fs14">
            <table class="table nowrap w-100">
                <thead>
                    <tr>
                        <th>Group name</th>
                        <th>Unix name</th>
                        <th>Member status</th>
                        <th>Group description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for group in groups %}
                    <tr>
                        <td>{{ group["display_name"] }}</td>
                        <td>{{ group["name"] }}</td>
                        <td>
                            {% if group["role"] == "admin" %}
                            <span class="text-primary">{{ group["role"] }}</span>
                            {% elif group["role"] == "active" %}
                            <span class="text-success">{{ group["role"] }}</span>
                            {% elif group["role"] == "pending" %}
                            <span class="text-warning">{{ group["role"] }}</span>
                            {% else %}
                            <span class="text-secondary">{{ group["role"] }}</span>
                            {% endif %}
                        </td>
                        <td>{{ group["description"] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
<script type="text/javascript">
$(document).ready(function() {
    $("table").DataTable({
        order: [1, "asc"],
    });
});
</script>
{% endblock %}