{% extends "base.html" %}

{% block title %}
  User information
{% endblock %}

{% block libraries %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}" />
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
{% endblock %}

{% block content %}
<section id="users">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-decoration-none">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">User information</li>
            </ol>
        </nav>
        <div class="my-4 fs12">
            <table class="table table-striped nowrap w-100">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Full name</th>
                        <th>Email</th>
                        <th>Join date</th>
                        <th>Institution</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user["username"] }}</td>
                        <td>{{ user["name"] }}</td>
                        <td>{{ user["email"] }}</td>
                        <td>{{ user["join_date"] }}</td>
                        <td>{{ user["institution"] }}</td>
                        <td>
                            {% if user["role"] == "admin" %}
                            <span class="text-primary">{{ user["role"] }}</span>
                            {% elif user["role"] == "active" %}
                            <span class="text-success">{{ user["role"] }}</span>
                            {% else %}
                            <span class="text-secondary">{{ user["role"] }}</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
<script type="text/javascript">
$(document).ready(function() {
    $("table").DataTable({
        lengthMenu: [10, 25, 100, 1000],
        order: [3, "asc"],
        columnDefs: [ 
            {
                "targets": 3, 
                type: "date"
            } 
        ]
    });
});
</script>
{% endblock %}