{% extends "base.html" %}

{% block title %} Groups {% endblock %}

{% block content %}
<section>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-decoration-none" href="{{ url_for('home') }}">Home</a></li>
                <li class="breadcrumb-item"><a class="text-decoration-none" href="{{ url_for('profile') }}">Profile</a></li>
                <li class="breadcrumb-item active" aria-current="page">Groups</li>
            </ol>
        </nav>
        <div class="my-4 fs14">
            <table id="user-groups-table" class="table nowrap w-100">
                <thead>
                    <tr>
                        <th>Group name</th>
                        <th>Unix name</th>
                        <th>Member status</th>
                        <th>Group description</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</section>
<script type="text/javascript">
$(document).ready(function() {
    $("#user-groups-table").DataTable({
        processing: true,
        lengthMenu: [25, 50, 100],
        ajax: { url: "{{ url_for('get_user_groups') }}", dataSrc: "groups" },
        columns: [
            { data: "display_name" },
            { data: "name" },
            { data: "role" },
            { data: "description" }
        ],
        columnDefs: [
            { 
                "targets": 2, 
                render: function(data, type, row) {
                    if (data == "admin")
                        return "<span class='text-primary'>" + data + "</span>";
                    else if (data == "active")
                        return "<span class='text-success'>" + data + "</span>";
                    else if (data == "pending")
                        return "<span class='text-warning'>" + data + "</span>";
                    else
                        return "<span class='text-secondary'>" + data + "</span>";
                }
            }
        ],
        order: [1, "asc"],
    });
});
</script>
{% endblock %}