name: Build AF frontend image

on:
  push:
    branches:
      - "main"

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2

      - name: Docker Build & Push Action
        uses: mr-smithers-excellent/docker-build-push@v6.4
        with:
          image: maniaclab/af-portal
          tags: latest, ${{ github.sha }}
          registry: hub.opensciencegrid.org
          username: ${{ secrets.HARBOR_USERNAME }}
          password: ${{ secrets.HARBOR_PASSWORD }}

      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v3.0.0
        with:
          token: ${{ secrets.AAAS_GITOPS_DEPLOY_TRIGGER  }}
          repository: maniaclab/flux_apps
          event-type: gitops-af-app-trigger
          client-payload:
            '{"ref": "${{ github.ref }}", "sha": "${{ github.sha }}"}'
